body {
    padding-top: 70px; /* Adjust as needed based on navbar height */
    padding-bottom: 60px; /* Adjust for footer height */
    background-color: #343a40;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

.navbar {
    background-color: #212529 !important;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
}

.container {
    background-color: #495057;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #28a745; /* Green color for headings */
}

.btn-primary {
    background-color: #17a2b8; /* Cyan color for buttons */
    border: 1px solid #17a2b8;
}

.btn-primary:hover {
    background-color: #138496; /* Darker cyan on hover */
    border: 1px solid #138496;
}

.form-control {
    background-color: #fff;
    color: #000;
}

.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    display: inline-block;
    margin-right: 30px;

}
 .container-buttons {
     margin-top: 20px;
     text-align: center;
}
 .container-buttons .btn {
     margin: 5px;
}

 #result {
     padding: 10px;
     margin-top: 20px;
     border-radius: 5px;
}
 .center-placeholder::placeholder {
     text-align: center;
}

.form-check {
  display: flex;
  margin-top: 10px;
  padding: 14px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  border-color: #ccc;
  background-color: #000000;
}

.form-check:hover {
  background-color: #f0f0f0; 
  border-color: #333; 
}

.form-check-input {
  margin-right: 10px; 
  opacity: 0;
}

.disable {
  display: none;
}

#inputOfPrefix, #inputOfAdmin {
  padding: 13px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  border-color: #ccc;
  background-color: #fff;
}
#listOfCommands, #listOfCommandsEvent, #prefixOfCommands, #adminOfCommands {
  border: none !important;
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal), #adminOfCommands:not(.modal) {
  box-shadow: none !important;
     }
